<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center; background-color:dodgerblue; padding-bottom:1em; padding-top:1em; font-family:Georgia" class="container-fluid">
  <h1>
    Welcome to JAL Stock Exchange!
  </h1>
</div>
<div class="container" style="color:orange">
    <table class="table" style="margin:0px auto">
      <tr>
        <th scope="col"><a routerLink="">Home</a></th>
        <th scope="col"><a routerLink="stocks">Stocks</a></th>
        <th scope="col"><a routerLink="wallet">My Wallet</a></th>
        <th scope="col"><a routerLink="customer">Customer Info</a></th>
      </tr>
    </table>
</div>

<router-outlet></router-outlet>
