<h2>Customer</h2>

 <!-- <div *ngFor="let customer of customers">
  Id: {{customer.FirstName}}
</div>  -->


<!-- <div>
    Id:
   <input type="text" [(ngModel)]="customer.Id" /> 
    FirstName: <input type="text" [(ngModel)]="customer.FirstName" /> 
    LastLame: <input type="text" [(ngModel)]="customer.LastName" />
    <input type="button" value="Edit Customer" (click)="updateCustomer()" /> 
  </div> -->
  
 <!-- <h2>List of Customers</h2>
<div *ngFor="let aCustomer of customers" (click)="deleteCustomer(aCustomer.Id)">
  Id: {{aCustomer.Id}} => Name: {{aCustomer.Lastname}}, {{aCustomer.Firstname}}
</div> -->

 <div>
  FirstName: <input type="text" [(ngModel)]="customerToAdd.FirstName" /><br>
  LastName: <input type="text" [(ngModel)]="customerToAdd.LastName" /> <br>
  Email: <input type="text" [(ngModel)]="customerToAdd.Email" /><br>
  WalletId: <input type="text" [(ngModel)]="customerToAdd.WalletId" /><br>
  <input type="button" value="Add Customer" (click)="addCustomer()" />
</div> 
<!-- <p>
  {{customerToAdd.FirstName}}
</p>  -->
