<div class="container">
  <div>
    <h2>Customer</h2>
    <div>
      <table class="table table-striped">
        <tr>
          <th scope="col">Id</th>
          <th scope="col">First Name</th>
          <th scope="col">Last Name</th>
          <th scope="col">E-Mail</th>
        </tr>
        <tr *ngFor="let customer of customers">
          <td>{{customer.Id}}</td>
          <td>{{customer.FirstName}}</td>
          <td>{{customer.LastName}}</td>
          <td>{{customer.Email}}</td>
        </tr>
      </table>
    </div>
  </div>
  <div>
  <form>
    <div class="form-group">
      <div class="col-xs-3">
        <label for="fName">First Name</label>
        <input type="text" class="form-control" [(ngModel)]="customerToAdd.FirstName" name="FirstName" id="fName"/>
      </div>
      <div class="col-xs-3">
        <label for="lName">Last Name</label>
        <input type="text" class="form-control" [(ngModel)]="customerToAdd.LastName" name="LastName" id="lName" />
      </div>
      <div class="col-xs-3">
        <label for="email">E-Mail</label>
        <input type="text" class="form-control" [(ngModel)]="customerToAdd.Email" name="EMAIL" id="email"/>
      </div>
      <div class="col-xs-3">
        <label for="wallID">Wallet Id</label>
        <input type="text" class="form-control" [(ngModel)]="customerToAdd.WalletId" name="walletID" id="wallID"/>
      </div>
      </div>
      <input type="button" value="Add Customer" (click)="addCustomer()" class="btn btn-dark"  />
  </form>

</div>
  </div>
