<div class="container">
  <h2>Wallet</h2>
  <form>
    <div class="form-group container">
      <div class="col-xs-3">
        <label for="tranID">Transaction ID</label>
        <input type="text" class="form-control" name="transactionid" placeholder="Transaction ID" [(ngModel)]="transaction.Id" id="tranID" />
      </div>
      <div class="col-xs-3">
        <label for="cd">Credit or Debit</label>
        <input type="text" class="form-control" name="credit/debit" placeholder="Enter Credit/Debit" [(ngModel)]="transaction.Amount" id="cd" />
      </div>
      <div class="col-xs-3">
        <label for="desc">Description</label>
        <input type="text" class="form-control" name="description" placeholder="Enter Short Description" [(ngModel)]="transaction.Description" id="desc" />
      </div>
      <div class="col-xs-3">
        <label for="cust">Customer ID</label>
        <input type="text" class="form-control" name="customer" placeholder="Enter CustomerId" [(ngModel)]="transaction.CustomerId" id="cust" />
      </div>
    </div>
    <input type="button" class="btn btn-dark" value="Submit Transaction!" (click)="addTransactions()"/>
  </form>
</div>

<div style="margin:2em"></div>

<div class="container">
  <form>
    <div class="form-group container">
      <div class="col-xs-3">
        <label for="wID">Wallet ID</label>
        <input type="text" class="form-control" name="walletid" placeholder="Wallet ID" [(ngModel)]="wallet.Id" id="wID"/>
      </div>
      <div class="col-xs-3">
        <label for="custID">Customer ID</label>
        <input type="text" class="form-control" name="customerid" placeholder="Customer ID" [(ngModel)]="wallet.CustomerId" id="custID" />
      </div>
      <div class="col-xs-3">
        <label for="bal">Balance</label>
        <input type="text" class="form-control" name="balance" placeholder="Balance" [(ngModel)]="wallet.Balance" id="bal" />
      </div>
    </div>
    <input type="button" class="btn btn-dark" value="Submit Wallet Update!" (click)="updateWallet()" />
  </form>
</div>

<div style="margin:2em"></div>

<div class="container">
  <h2>Wallet Info</h2>
  <div>
    <table class="table">
      <tr>
        <th>Wallet Id: {{wallet.Id}}</th>
        <th>Customer Id: {{wallet.CustomerId}}</th>
        <th>Balance: {{wallet.balance}}</th>
      </tr>
    </table>
  </div>
</div>

<div style="margin:2em"></div>

<div class="container">
  <h2>Transaction Info</h2>
  <div>
    <table class="table table-striped">
      <tr>
        <th scope="col">Transaction ID</th>
        <th scope="col">Amount</th>
        <th scope="col">Description</th>
      </tr>
      <tr *ngFor="let t of transactions">
        <td>{{transaction.id}}</td>
        <td>{{transaction.Amount}}</td>
        <td>{{transaction.Description}}</td>
      </tr>
    </table>
  </div>
</div>


